<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Accept controller config file path as argument from launch file -->
  <xacro:arg name="controller_config_file" default=""/>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <!-- Tell plugin to get robot_description from robot_state_publisher node -->
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <!-- Controller configuration file -->
      <parameters>$(arg controller_config_file)</parameters>
    </plugin>
  </gazebo>

</robot>
